:root {
  --primary-color: rgb(46, 49, 146);
  --secondary-color: hsl(240, 95%, 97%);
  --heading-font-family: "Jost", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 96px;
  letter-spacing: 4px;
  font-weight: 400;
}

h3 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

p {
  font-size: 16px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: 500;
}

.hero h2 {
  font-size: 22px;
  font-weight: 350;
  line-height: 2;
  font-style: italic;
}

.btn-branding {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.3px;
}

.btn-branding:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 30px 0px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 48px;
    line-height: 1;
  }

  .hero {
    padding: 80px 10px;
  }
  .hero h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 30px;
  }

  .hero p {
    font-size: 22px;
    margin: 0;
    font-weight: 500;
  }
  .btn-branding {
    font-size: 14px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  h3 {
    font-size: 34px;
  }
  p {
    font-size: 12;
  }
}
