:root {
  --primary-color: rgb(46, 49, 146);
  --secondary-color: hsl(50, 90%, 90%);
  --accent-color: hsla(49, 100%, 83%, 0.9);
  --heading-font-family: "Jost", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-height: 50px;
}

nav {
  padding: 5px 0;
  background-color: var(--accent-color);
  border-bottom: 1px solid var(--primary-color);
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--primary-color);
}

nav a:hover,
.active {
  color: var(--primary-color);
  font-weight: 700;
  transition: all 80ms ease-in-out;
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--primary-color);
  font-size: 96px;
  font-weight: 450px;
}

h4 {
  font-size: 40px;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

p {
  font-size: 20px;
  font-weight: 500;
}

.hero {
  padding: 160px 20px;
  height: 100vh;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
}

.hero p {
  font-size: 36px;
  font-weight: 400;
  color: var(--primary-color);
  font-style: italic;
}

.hero h2 {
  font-size: 22px;
  font-weight: 400;
}

.content-container {
  padding: 70px 20px;
}

.container p {
  font-size: 20px;
  font-weight: 400;
}

.content h1 {
  font-size: 50px;
  line-height: 80px;
  margin-bottom: 55px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 36px;
  font-family: var(--heading-font-family);
  color: var(--primary-color);
}

.content-container p {
  font-size: 20px;
}

.content {
  margin: 30px;
}

.btn-branding {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 500;
  letter-spacing: 0.3px;
  border: 1px solid var(--primary-color);
  background-color: var(--accent-color);
}

.btn-branding:hover {
  color: var(--primary-color);
  background-color: hsla(49, 95%, 61%, 0.1);
  border: 1px solid var(--primary-color);
}

.project-description {
  padding: 30px 0px;
}

.img-fluid {
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

footer h5 {
  color: var(--primary-color);
  font-size: 30px;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 15px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: white;
  padding: 4px 10px 3px 10px;
  font-size: 22px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

footer p {
  font-size: 16px;
}

.open-source, .contact-links, .email-link {
  color: var(--primary-color);
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 900px) {

  .logo {
  max-height: 40px;
} 
  .hero {
    padding: 20px 10px;
    height: 350px;
  }

 .hero h1 {
    font-size: 50px;
  }

  .hero h2 {
    font-size: 13px;
  }

  .hero p {
    font-size: 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  p {
    font-size: 14px;
  }

  .container h1 {
    font-size: 20px;
    margin-bottom: 20px !important;
     line-height: 30px;
  }

  .container h2 {
    font-size: 14px;
  }

  .container h3 {
    font-size: 14px;
  }

  .container p {
    font-size: 12px;
    line-height: 20px;
  }

  .btn-branding {
    font-size: 14px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description h4 {
    font-size: 25px;
    margin-bottom: 10px !important;
  }

  nav a {
    font-size: 12px;
  }
.email-link {
  font-size: 14px !important;
}
}
